.footer {
  position: fixed; /* Set the footer to fixed position */
  bottom: 0;       /* Position the footer at the bottom of the page */
  width: calc(100% - 16px); /* Sorry world */
  z-index: 100000;
  background: white;
}

.test {
  padding-top: 2px;
}

.uri-form {
  width: 100%;
  padding-left: 20px;
  padding-top: 8px;
}

.uri-form-input {
  width: 100%;
}

.favorite-icon {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.subheader {
  height: 246px;
}

.header .title {
  cursor: pointer;
}

.real-body {
  margin: 0px 8px 60px;
}

.player-thumbnail {
  background-size: cover;
}

.submit-pending {
  width: 20px;
  height: 20px;
}

.mat-header-row {
  padding-right: 0;
}

.mat-row {
  padding-right: 0;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 50px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 31px;
  text-align: center;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 130px;
}

.mat-table {
  overflow: auto;
}

.favorite-list {
  /* cursor: pointer; */
}

.favorite-list:hover {
  background: #f1f1f1;
}

.cdk-overlay-pane {
  z-index: 10000000;
}
