<h2>{{title}}</h2>

<div *ngIf="currentTrack">
<h2>Player</h2>
  <p>Current Track:</p>
  <div><label>id:</label>{{currentTrack.id}}</div>
  <div><label>title:</label>{{currentTrack.title}}</div>
<button (click)="onPlayerMethod()">{{currentMethod}}</button>
</div>

<div *ngIf="playlist">
  <ul>
    <li *ngFor="let track of playlist" class="collection-item">
      {{track.title}} - {{track.votes}} -
      <button (click)="voteTrack(track, 1)">Upvote</button>
      <button (click)="voteTrack(track, -1)">Downvote</button>
    </li>
  </ul>
</div>

<div>
  <input type="text" [(ngModel)]="requestUri" placeholder="uri"/>
  <button (click)="submitRequest()">Submit</button>
</div>

<button (click)="reload()">Reload</button>
