<h1>{{title}}</h1>

<div *ngIf="currentTrack">
<h2>Player</h2>
  <p>Current Track:</p>
  <div><label>id:</label>{{currentTrack.id}}</div>
  <div><label>title:</label>{{currentTrack.title}}</div>
<button (click)="onPlayerMethod()">{{currentMethod}}</button>
</div>

<div *ngIf="playlist">
  <h2>Playlist</h2>
  <ul>
    <li *ngFor="let track of playlist">
      {{track.title}} - {{track.votes}} -
      <button (click)="voteTrack(track, 1)">Upvote</button>
      <button (click)="voteTrack(track, -1)">Downvote</button>
    </li>
  </ul>
</div>

<div>
<h2>Add new track</h2>
  <input type="text" [(ngModel)]="requestUri" placeholder="uri" size="30"/>
  <button (click)="submitRequest()">Request</button>
</div>
