.footer {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%;
  z-index: 100000;
  background: white;
}

.test {
  padding-top: 2px;
}

.uri-form {
  width: 100%;
}

.uri-form-input {
  width: 100%;
}

.favorite-icon {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.header .title {
  cursor: pointer;
}

.real-body {
  margin: 64px 8px 60px;
}

.player-thumbnail {
  background-size: cover;
}

.submit-pending {
  width: 20px;
  height: 20px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 5%;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 15%;
}

.mat-table {
  overflow: auto;
}

.favorite-list {
  cursor: pointer;
}

.favorite-list:hover {
  background: #f1f1f1;
}
