.uri-form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.uri-form-input {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.real-body {
  margin: 8px;
}

.player-thumbnail {
  background-size: cover;
}

.submit-pending {
  width: 20px;
  height: 20px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 10%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 5%;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 15%;
}
