<mat-card>
  <mat-card-header>
    <mat-card-title>
      About BASS
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      This project was created by <a href="https://github.com/davue">Davue</a> and
      <a href="https://github.com/bermos">Bermos</a>.
    </p>
    <p>
      It consists of 2 components. A backend "<a href="https://github.com/VSETH-GECO/BASS">BASS</a>" written in Java and the frontend
      "<a href="https://github.com/VSETH-GECO/BASSctrl">BASSctrl</a>" you can see here made with Angular5 and Material Design.
    </p>
    <p>
      If you spot any bugs feel free to head to the git repository and submit a issue.
    </p>


  </mat-card-content>
</mat-card>
