<mat-card>
  <mat-card-title>Updates</mat-card-title>

  <mat-card-content>
    <div *ngIf="updateStatus">
      Status: {{updateStatus}}
    </div>

    <div *ngIf="!updateStatus">
      <mat-radio-group class="branches-radio-group" [(ngModel)]="branch">
        <mat-radio-button *ngFor="let x of branches" [value]="x.name">
          {{x.name}} at {{x.info}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="!updateStatus">
    <button mat-raised-button color="warn" (click)="update()" [disabled]="!branch">Update</button>
  </mat-card-actions>

</mat-card>
