<mat-card>
  <mat-card-title>Updates</mat-card-title>

  <mat-card-content>
    <div *ngIf="updateStatus">
      Status: {{updateStatus}} {{progress}}%
    </div>

    <div *ngIf="loading !== 0 || progress" >
      <mat-progress-bar [mode]="mode" [value]="progress"></mat-progress-bar>
    </div>
    <div *ngIf="loading === 0">
      <div *ngIf="!updateStatus">
        <mat-radio-group class="branches-radio-group" [(ngModel)]="branch">
          <mat-radio-button *ngFor="let x of branches" [value]="x.name" color="primary">
            [{{x.name}}] at {{x.info}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="!updateStatus">
    <button mat-raised-button color="warn" (click)="update()" [disabled]="!branch">Update</button>
  </mat-card-actions>

</mat-card>
